<!DOCTYPE html>
<html ng-app="gameBuzz">
<head>
  <title>GameBuzz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="angular.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=  %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>{{"Hello World"}}</h1>
<h1>hfdjksfhasdkas</h1>
<%= yield %>
</body>
</html>
